Source: unity-api
Priority: extra
Maintainer: Ubuntu Developers <ubuntu-devel-discuss@lists.ubuntu.com>
Build-Depends: debhelper (>= 9),
               cmake,
               doxygen,
               graphviz,
               libboost-regex1.49-dev (>= 1.49),
               libboost1.49-dev (>= 1.49),
               libgtest-dev,
               pkg-config,
               python3,
               qt5-default,
               qtbase5-dev,
               qtdeclarative5-dev,
               qtdeclarative5-dev-tools,
               qtdeclarative5-qtquick2-plugin,
               qtdeclarative5-test-plugin,
               libglib2.0-dev,
Standards-Version: 3.9.4
Section: libs
Homepage: https://launchpad.net/unity-api
Vcs-Bzr: lp:unity-api
Vcs-Browser: https://code.launchpad.net/unity-api

Package: libunity-api0
Architecture: any
Multi-Arch: same
Pre-Depends: ${misc:Pre-Depends},
Depends: ${misc:Depends},
         ${shlibs:Depends},
Description: API for shell integration
 Library to integrate with the Unity shell

Package: libunity-api-dev
Section: libdevel
Architecture: any
Multi-Arch: same
Depends: ${misc:Depends},
         libboost1.49-dev (>= 1.49),
         libunity-api0 (= ${binary:Version}),
Description: Header files for Unity API
 Library to integrate with the Unity shell (dev files)

Package: libunity-api-doc
Section: doc
Architecture: all
Multi-Arch: foreign
Depends: ${misc:Depends},
Description: Documentation for Unity API
 Library to integrate with the Unity shell (documentation)
