#!/usr/bin/make -f
# -*- makefile -*-

# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1
export DPKG_GENSYMBOLS_CHECK_LEVEL=4

# http://ccache.samba.org/manual.html#_precompiled_headers
export CCACHE_SLOPPINESS=time_macros

%:
	dh $@ --parallel --fail-missing

DEB_HOST_ARCH ?= $(shell dpkg-architecture -qDEB_HOST_ARCH)
ifeq ($(DEB_HOST_ARCH),arm64)
# Precompiled headers are broken on arm64 with g++-4.8.  Recheck this once
# g++-4.9 is the default.
override_dh_auto_configure:
	dh_auto_configure -- use_pch=FALSE
endif
